<html>
<head>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll@1.3.3/dist/vue-chat-scroll.min.js"></script>
    <script src="/js/jquery.min.js"></script>

    <meta charset="UTF-8">
    <title>Phần mềm quản lí tin nhắn Facebook manager</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/store/index.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/chat.css">
    <script src="http://localhost:9999/socket.io/socket.io.js"></script>
    <script src="/js/socketconnect.js"></script>
    <style>
        .shadow{
            box-shadow: 1px 1px 15px #59799b
        }
        .optionSelect{
            width: 150px;
            height: 30px;
            border: 1px solid white;
            font-size:12px;
            color:white;
            float: left;
            padding: 8px;
            text-align: center;
        }
        .optionSelect:hover{
             cursor: pointer;
         }
        ul.menuFunction>li{
            padding-left: 70px;
            padding-top: 16px;
            height: 50px;
            border-bottom: 1px solid #344658;
            color:white
        }
        ul.menuFunction>li:hover{

            box-shadow: 1px 1px 15px #59799b

        }
        a{
            color:white;
            text-decoration: none;
        }
        a:hover{
            color:white;
            text-decoration: none;

        }
        .cur{
            margin-left:10px
        }
        .cur:hover{
            color:red;
            cursor: pointer;
        }
    </style>
</head>
<body style="overflow-x: hidden">
<div id="frame">
    <span style="display: none" id="ID_receiver">{{container.conversation.ID_receiver}}</span>
    <span style="display: none" id="ID_sender">{{container.conversation.ID_sender}}</span>
    <div id="sidepanel">
        <div id="profile" >
            <div class="wrap">

                <center  > <i style="font-size: 60px;text-align: center;" class="fa fa-facebook-square"></i></center>

            </div>
        </div>

        <div id="contacts">
            <center v-show="load_listCHAT"><img class="imgx" src="img/load_listchat.svg" alt=""></center>
            <ul v-show="listCHAT">
                <li @mouseover="authorDisplay(data)" :class="{shadow:data.sha}"  @mouseout="authorHidden(data)" @click="activate(key),newTag(data)" :class="{ active : active_el === key }" class="contact bounceInRight animated" :key="key" v-for="(data,key) in container.list_chat">

                    <div  class="wrap">

                        <img class="imgx" :src="data.image" alt="" />
                        <div class="meta">
                            <p class="name">{{data.name}}</p>

                            <small class="preview" v-if="data.lastChat.type !== 'text'"><i v-if="data.lastChat.user === 'you'" style="color:#ffdebb" class="fa fa-check">   </i>  <i v-if="data.lastChat.user === 'me'" style="color:#ffdebb" class="fa fa-location-arrow"></i>   Tin nhắn ảnh <i style="color:#b1acff" class="fa fa-image"></i></small>

                            <small class="preview" v-if="data.lastChat.type === 'text'" ><i v-if="data.lastChat.user === 'you'" style="color:#ffdebb" class="fa fa-check">   </i>  <i v-if="data.lastChat.user === 'me'" style="color:#ffdebb" class="fa fa-location-arrow"> </i><span style="font-size:11px">{{data.lastChat.message.slice(0,15)}} ...</span></small>
                            <i v-if="data.ady" class="fa fa-user animated bounceInRight" style="color:#ff5854;float:right;margin-right: 10px;font-size:10px">  <i style="color:white;margin-left: 3px;">{{data.facebook_name_sender}}</i></i>
                            <i v-if="data.status !== 'Đang hoạt động'" title="Tài khoản không gửi và nhận được tin nhắn" style="color:#ff6859;float:right" class="time fa fa-exclamation-triangle animated infinite flash"></i>

                            <i  v-if="data.seen === false" style="color:white;float:right;margin-right: 10px" class="time fa fa-envelope"></i>

                        </div>
                    </div>
                </li>



            </ul>
        </div>
        <div id="bottom-bar">


        </div>
    </div>
    <div class="content " style="width:50%;left:0;float: left"  >
        <div class="contact-profile"  v-show ="option" style="box-shadow: 4px 4px 18px #2c3e50;">
            <div >

                <img class="imgx" :src="container.conversation.image" alt="" />
                <a :href="container.conversation.facebook" style="color:#2c3e50;">{{container.conversation.name}}</a>
                <i v-if="container.conversation.status !== 'Đang hoạt động'" title="Tài khoản không gửi và nhận được tin nhắn" style="color:#ff6859;margin-left:20px" class="time fa fa-exclamation-triangle animated flash"></i>

                <i v-if="container.conversation.status === 'Đang hoạt động'" class="fa fa-handshake-o animated flash" style="margin-left:20px"></i>
                <a :href="container.conversation.facebook_url_sender" class="animated bounceInRight" style="margin-left:20px;font-size:10px;color:#2c3e50"> <small></small> {{container.conversation.facebook_name_sender}}</a>
                <span v-if="container.conversation.status === 'Cookie đã hết hạn.Vui lòng lấy lại Cookie'" style="font-size:10px;color:red">Cookie đã hết hạn.Vui lòng <a
                        :href="container.conversation.facebook" style="color:#2c3e50">lấy lại</a> Cookie</span>

                <div class="social-media" >

                    <i  style="margin-top:20px;" @click="deleteChat" class="time fa fa-trash"></i>


                </div>
            </div>

        </div>
        <div  id="scroll" class="messages ">
            <div v-show="welcome" class="center-screen animated bounceIn"><i style="font-size:200px" class="fa fa-facebook-square"></i><br><p>Chào mừng bạn đến với hệ thống quản lí tin nhắn Facebook Messenger</p></div>
            <div v-show="loading" class="center-screen"><img class="imgx" src="img/loading.svg" alt=""></div>
            <ul class="animated fadeIn"  v-show="result" v-chat-scroll>
                <div :key="pid" v-for="(content,pid) in container.conversation.chat"  >
                    <li v-if="content.user === 'you'" class="sent">

                        <p  v-if="content.type === 'text'">{{content.message}}</p>
                        <img style="max-width: 400px;max-height: 400px;border-radius: 30px"  v-if="content.type === 'attachments'" :key="index" v-for="(image,index) in content.message" :src="image.url" alt="">

                    </li>
                    <li v-if="content.user === 'me'" class="replies">

                        <p  v-if="content.type === 'text'">{{content.message}}</p>

                        <img style="max-width: 400px;max-height: 400px;border-radius: 30px;float: right"  v-if="content.type === 'attachments'"  :key="index" v-for="(image,index) in content.message" :src="image.url" alt="image">


                    </li>
                </div>

            </ul>
        </div>
        <div class="message-input animated fadeIn" v-show="input" style="box-shadow: 4px 4px 18px #2c3e50">
            <div class="wrap">
                <textarea  v-if="container.conversation.status === 'Đang hoạt động'"  class="input"  v-model="message"  @keyup.13="send"  placeholder="Nhập văn bản" ></textarea>



                <form  style="position: absolute;right:30px;top:25px">

                    <label for="fusk" >  <i style="font-size: 20px" class="fa fa-image" aria-hidden="true"></i></label>
                    <input id="fusk" type="file" name="sampleFile" style="display: none;">
                </form>

            </div>
        </div>
    </div>
    <div  style="position: absolute;width:25%;background-color: #2c3e50;height:100%;float:right;right: 0">
        <div class="wrap"><center>
        <i class="fa fa-user-circle" style="color:white;font-size:50px;margin-top:30px"></i>
            <br> <br>
           <p style="color:white">{{fullname}} <a href="/api/changePassword"> <i style="font-size:11px;margin-left:5px" class="fa fa-pencil cur"  aria-hidden="true"></i></a></p>
            <br>
        </center>
        </div>
        <ul class="menuFunction">
            <li ><i class="fa  fa-snowflake-o" style="color:#ff2321" aria-hidden="true"></i><a class="bounceInRight animated" href="/api/addCookie"> Thêm tài khoản Cookie</a></li>
            <li ><i class="fa fa-id-card-o" style="color:#ff2321" aria-hidden="true"></i><a class="bounceInRight animated" href="/api/account"> Thêm tài khoản USER/PASS</a></li>
            <li ><i class="fa  fa-bolt" style="color:#ff2321" aria-hidden="true"></i><a class="bounceInRight animated" href="/api/autoChat"> Trả lời tin nhắn tự động</a></li>
            <li ><i class="fa  fa-calendar-check-o" style="color:#ff2321" aria-hidden="true"></i><a class="bounceInRight animated" href="/api/scenario"> Nhắn tin theo kịch bản</a></li>

            <li ><i class="fa  fa-clock-o" style="color:#ff2321" aria-hidden="true"></i><a class="bounceInRight animated" href="/api/mutiplesms"> Hẹn giờ gửi tin nhắn</a></li>
            <li ><i class="fa fa-power-off" style="color:#ff2321" aria-hidden="true"></i><a class="bounceInRight animated" href="/logout"> Đăng xuất</a></li>


        </ul>

<!--
       <div style="margin-left:20px" >
            <div class="optionSelect">Hẹn giờ</div>
            <div class="optionSelect">Tự động tin nhắn</div>

        </div>
-->
    </div>





    </div>
</body>
<script>
    function setCookie(cname,cvalue,exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }


    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }



    var app = new Vue({
        el: '#frame',
        head(){
            return {
                title:store.state.title
            }
        },
        data(){
            return {
                user:{},
                loading:false,
                result:false,
                message:'',
                fullname:'',
                name:'Facebook manager',
                chatVisible:false,
                introVisible:true,
                sha:false,
                active_el:-1,
                check:false,
                input:false,
                welcome:true,
                listCHAT:false,
                load_listCHAT:true,
                option:false,
                username:getCookie("email"),
                password:getCookie("password"),
                connect:true,
                info:true

            }
        },

        created: async  function(){


            let chat = await axios.post('/api/getAllConversation');
            this.fullname = chat.data.result.user.name
            if(chat.data.error === null){
                this.load_listCHAT = false;
                this.listCHAT = true;
                this.user = chat.data.result.user;
                return store.commit('executeConversation',chat.data.result.conversation)
            }else{
                window.location.href = "/"
            }

        },
        computed: {
            container () {
                return store.state
            }
        },
        beforeMount:function(){
            let name = this.username;
            socket.on('receiveMessage',function(data){

                $("#scroll").animate({ scrollTop:10000000000000}, 500);
                if(data.userBoss === name){
                    let result = data.message;
                   return store.commit('pushConversation',result)
                }

            });
            socket.on('error',function (data) {

                let ID_sender = data['ID_sender'];

                return store.commit('statusUPDATEpro',ID_sender)
            })


        },
        mounted:function(){
            let name = this.username;
            let _ = this;

            $("form").change(function(evt){
                evt.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: '/api/uploadIMAGE',
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (response) {

                        socket.emit('sendMessage',{
                            userBoss:name,
                            ID_receiver:store.state.conversation.ID_receiver,
                            type:'attachments',
                            url:response,
                            ID_sender:store.state.conversation.ID_sender
                        },function(callback){
                        store.commit('pushConversation',callback.data)
                           return store.state.list_chat = store.state.list_chat.map(e=>{
                 
                 if(e['ID_receiver'] === store.state.conversation['ID_receiver']){
                   e.seen = true; 
                 }
                 return e;
                 
                 });
                            

                        });
                    }
                });
                return false;
            });
        },
        methods:{
            send:function(){

                let _ = store;
                let mess = this.message;


                socket.emit('sendMessage',{
                    userBoss:this.username,
                    ID_receiver:_.state.conversation.ID_receiver,
                    type:'text',
                    message:mess,
                    ID_sender:_.state.conversation.ID_sender

                },function(callback){
                
                    if(callback.error !== null){
                        alert(error)
                        _.connect = false;
                        return _.commit('statusUPDATE','Cookie expired')

                    }

                    $("#scroll").animate({ scrollTop: 10000000000000}, 500);
                   

                     _.commit('pushConversation',callback.data)
                     
                     
                     
                     return _.state.list_chat = _.state.list_chat.map(e=>{
                 
                 if(e['ID_receiver'] === store.state.conversation['ID_receiver']){
                   e.seen = true; 
                 }
                 return e;
                 
                 });

                });

                $("#scroll").animate({ scrollTop:10000000000000}, 500);
                this.message = '';






            },
            newTag:async function(obj){
                this.welcome = false;
                this.result = false;
                this.loading = true;
                this.introVisible = false;
                this.chatVisible = true;
                this.option = true;

                let result = await axios.post('/api/getConversation',{ID_receiver:obj.ID_receiver,ID_sender:obj.ID_sender,seen:true});

                store.commit('getConversation',result.data);
                this.loading = false;
                this.result = true;
                if(result.data.status === 'Đang hoạt động'){
                    this.input = true;
                }
                $("#scroll").animate({ scrollTop: 10000000000000}, 500);



            },
            activate:function(el){
                this.active_el = el;
            },
            deleteChat:async function(){
                await axios.post('/api/removeChat',{id:store.state.conversation._id});
                store.commit('dropConversation',store.state.conversation);
                this.welcome = true;
                this.result = false;
                this.option = false;

            },
            authorDisplay:async function(data){
                data.sha = true;
               data.ady = true;
               return data;
            },
            authorHidden:async function(data){
                data.sha = false;
                data.ady = false;
                return data;
            }




        },
    })

</script>
<script src="/js/bootstrap.min.js"></script>


</html>